@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #EECEC6;
  --accent: #E85A4F;
  --accent-secondary: #8BB7E8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
